#edit-CardType {
  font-size: 14px;
  height: 1.5em;
}

#edit-CardType option {
  padding-top: 12px;
  padding-left: 60px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: 5px 3px;
}

#CardType-VISA {
  background-image: url(images/cards_visa.gif);
}
#CardType-MC {
  background-image: url(images/cards_mastercard.gif);
}
#CardType-SWITCH {
  background-image: url(images/cards_switch.gif);
}
#CardType-SOLO {
  background-image: url(images/cards_solo.gif);
}
#CardType-DELTA {
  background-image: url(images/cards_delta.gif);
}
#CardType-UKE {
  background-image: url(images/cards_electron.gif);
}
#CardType-AMEX {
  /*background-image: url(images/cards_amex.gif);*/
}
#CardType-DC {
  /*background-image: url(images/cards_diners.gif);*/
}
.form-row .form-item {
  float: left;
  padding-right: 5px;
}